<meta charset="utf-8">    <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<footer class="bg-dark">
    <div class="container">
	<div class="text-warning bg-dark" >
		<b>
				<div class="row">
				
				
					<div class="col-sm-6 col-md-3">
						<div class="bloc-cms">
						<h2 style="color:white;">About Us:</h2>
						<marquee width="100%" direction="up" height="100px">
							<p style="color:gray; text-align:justify">
								The Organization is set up by Balaji Sangram Karagir Since 1942.<br><br> In the last couple of 
								decades we are honoredto receive invitation and renowned organizations  
								in Maharashtra. 
							</p>
							</marquee>
							<a href="{% url 'aboutus' %}"style="color:#db4f44;">Read More</a>
						</div>
					</div>
					
					<div class="col-md-3 ">
						
				<ul  ><h2 style="color:white; margin-left:30px;">Quick Links:</h2>
		
				<li><a href="{% url 'home' %}"><p style=" margin-left:30px;">Home</p></a></li>
			
		
				<li><a href="{% url 'ourservices' %}"><p style=" margin-left:30px;">Service</p></a></li>
		
				<li><a href="{% url 'menus' %}"><p style=" margin-left:30px;">Menu</p></a></li>
			
				<li><a href="{% url 'gallary' %}"><p style=" margin-left:30px;">Gallery</p></a></li>
			
				<li><a href="{% url 'contactus' %}"><p style=" margin-left:30px;">Contact Us</p></a></li>
				</ul>
						
			</div>
					
					
					
					<div class="col-sm-6 col-md-3">
						<div class="open-hours">
							<h2 style="color:white;">Catering Hours:</h2>
							
							<p><span>24 hours a day, 7 days a week</span></p>
							
							<br>
							
							<h3 style="color:white;">Office Hours</h3>
							
							<p><span>Monday-Sunday </span></p>
							<p>8:30am - 7:30pm</p>
							
							</div>
					</div>
					
			
					
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="footer-address">
							<h2 style="color:white;">Location:</h2>
							
							<address>
							<p style="font-size:15px; color:gray">
								Shop No-101, Krishna Tower,Near<br>Ganesh Mandir 
								Indrayani Nagar, <br>Bhosari, Pune 411039
							</p>
							</address>
              
						</div>
						
					</div>
				</div>
                <div class="footer-copyright">
                    <p style="text-align:center;color:white">
                            <br>		<br>
                        2022 © Copyright Jaswik Caterers Designed by <a href="https://www.linkedin.com/in/balaji-karagir-752155221/" style="color:#db4f44;">Balaji Karagir</a>
                    </p>
                    
                    
                </div>
			</div>
	
		
			
			<div class="text-warning bg-dark">
			<div class="container">


				

				
				
		  </div>
		  <!-- javascrip for blink start here -->
		  <script type="text/javascript">
			(function() {
			  var blinks = document.getElementsByTagName('blink');
			  var visibility = 'hidden';
			  window.setInterval(function() {
				for (var i = blinks.length - 1; i >= 0; i--) {
				  blinks[i].style.visibility = visibility;
				}
				visibility = (visibility === 'visible') ? 'hidden' : 'visible';
			  }, 600);
			})();
		  </script>
		  <!-- javascrip for blink end here -->
		  
		</footer>