{% load static %}

<html>
    <head>
        {% include 'user/header.html' %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <!--header courosel start-->
            
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <div id="menuheadercourosel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
                <div id="bgdiv"style=font-size:30px, position: absolute; >
                    <p><br><br> <h2>_______________ JASWIK CATERERS__________________</h2>
                            <h2 >GALLERY</h2><br><br>
                    </p>
                </div>
                
               
              </div>
              <div>
                    <img src="\static\images\gallary\New folder (2)\top-view-circular-food-frame_23-2148723455 (1).jpg" class="d-block w-100"  height="450vh"  >
              </div>
        </div>
       
       
      </div>
      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </div>










    <!--header courosel end here-->
   
    
    
    
    
    </head>

<h1></h1>
<body class="gallaycontainer">

     






      <section class="main-content"  >
    <div class="container " >
        <center><h1> Gallery</h1></center><br>
        <div class="row">
            <div class="col-sm-4" id="balaji">
                
                        <div class="card1"  style="width: 350px;">
                            <div class="bg-image hover-zoom">
                                <div class="color">
                                    <div class="grow">
                                        <img src="\static\images\gallary\342b4f53fae92952c4f76d8f8cd30046.jpg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            
                            
                            </div>
                            
                        </div>
                    
            </div>
            
            <div class="col-sm-4">
                <div class="card1" style="width: 350px; margin:8px 8px">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\decoration-invitation-elegant-celebrate (1).jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="color">
                <div class="card1" style="width: 350px;">
                        <div class="grow">
                            <img src="\static\images\gallary\bouquet-wine-glasses-table.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <br><br>
        <!--second row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\decorated-banquet-hall-with-flowers_8353-10058.webp" class="card-img-top" alt="JASWIK caterers">
                        </div>
                     </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\gallary\decorated-banquet-hall-with-served-round-table-with-hydrangea-centerpiece-chiavari-chairs_8353-10059.webp" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
           
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\deco.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>  
        <br><br>  
        <!--second row end here-->

        <!--third row start-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\indian-wedding-catering-quikr-blog.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\caterers-shree-mandap-decoration-caterers-1_15_402579-164606602596634.jpeg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\restaurant-lunch-catering-buffet-with-different-dishes_219193-3429.webp" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    

        <!--third row end-->

        <br><br>
        <!--forth row start here-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\240_F_186118701_c0hJ5RmBBNLQ2clxNER8CeNsNlGr8mWa.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\file-1595513743904_15_168553-159551374855143.jpeg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\buffet.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <br><br>   
        <!--forth row end here-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width:350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\ef12ad13dfd081f53e1bdbe92569189d.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;" >
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\gallary\3e557a2c9d0174287cef2baed5193fda.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\gettyimages-565878353-612x612.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <br> <br>   

        <!--fifth row start here-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\vip-dinner-set-menu.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width:350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\New folder\1.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\New folder\8.webp" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <br> <br>  

        <!--fifth row end here-->
        
        <!--sixth row start-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\New folder\1516003632_d8yz3S_catering2470-1200x720.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\gallary\New folder\caterers-art-cuisines-catering-catering-setup-1_15_411588-165398190065828.jpeg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card1" style="width: 350px; ">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\New folder\All-in-one.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <br><br>   

        <!--sixth row end here-->

        <!--seventh row start here-->
        <div class="row">
           
            <div class="col-sm-4">
                <div class="card" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                            <img src="\static\images\gallary\New folder\delight-caterers-06.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\gallary\New folder\9f960a9038e5def1599747d757ea1e53.jpg" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 350px;">
                    <div class="color">
                        <div class="grow">
                             <img src="\static\images\gallary\New folder\22_14597.png" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <br> <br><br>  
        <!--seventh row end here-->


    
    <div>
    </body>
</html>
    








  

        
        
                     
 

<!--<div class="container ">

<center><h1> Our Video Gallery </h1></center>
<br>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-6 videosrc" >
        <br>   
           <iframe width="100%" height="350px" src="https://www.youtube.com/embed/dCt7OTS6CQw"  frameborder="0" allow="autoplay" allowfullscreen ></iframe>
        </div>
        
           <div class="col-sm-12 col-xs-12 col-md-6">     
            <br>   
            <iframe width="100%" height="350px" src="https://www.youtube.com/embed/6jYiz8PhWh8" frameborder="0" allow=" autoplay" allowfullscreen></iframe>           
        </div>
        
         <div class="col-sm-12 col-xs-12 col-md-6">  
            <br>   
           <iframe width="100%" height="350px" src="jc/jodhpur-video.mp4" frameborder="0"  allowfullscreen ></iframe>           
        </div>
    
</div>	
</div>-->

      </section>
      
      
      
      
      
      
      
     
    </div>







{% include 'user/footer.html' %}