{% load static %}
<html>
    <head>
        {% include 'user/header.html' %}
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"></head>

    </head>
    <body>


        <!--header courosel start-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<div id="menuheadercourosel">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
            <div id="bgdiv">
                <p><br> <h2>_______________ JASWIK CATERERS__________________</h2>
                        <h2 style=font-size:137px>OUR MENUS</h2><br><br>
                </p>
            </div>
            
           
          </div>
          <div>
                <img src="\static\images\gallary\New folder (2)\top-view-circular-food-frame_23-2148723455 (1).jpg" class="d-block w-100" alt="..." height="450px"  >
          </div>
    </div>
   
   
  </div>
  
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</div>
        <!--header courosel end-->
        
        





        <!--from munes card start-->


        <section class="main-content" id="menucontainer"  >
            <div class="container" >
                <div><br><br>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> WELCOME DRINKS JUICE</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4" id="balaji">
                        
                        <div class="card"  style="width: 25rem;">
                            <div class="container6">
                            <img src="\static\images\Menu\welcome1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> FRUITS PUNCH<h5><br> 
                                   <h5> COCONUT PUNCH <h5><br>
                                   <h5> PINEAPPLE JUICE<h5></p>
                                
                              </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                            <img src="\static\images\Menu\welcome2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> BLACK GRAPES BLOSSOM<h5><br> 
                                    <h5> BLACK GRAPES BLOSSOM <h5><br>
                                   <h5> LITCHI FRESH JUICE<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\welcome3.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> VIRGIN WATERMEON MARGARITA<h5><br> 
                                   <h5> GOLDEN PUNCH <h5><br>    
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
                <!--second row-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> FINEST MOCKTAIL SELECTION</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\mocktail1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> CRAN-APPLE CIDER MOCKTAIL<h5><br> 
                                   <h5> ASIAN PEAR SPARKLER <h5><br>
                                   <h5> WATERMELON BREEZE<h5><br>
                                   <h5> SHIRLEY TEMPLE<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\mocktail2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5>GINGER LIME FIZZ<h5><br>
                                   <h5>CHERRY BOMB MOCKTAIL<h5><br> 
                                   <h5> VIRGIN MOSCOW MULE <h5><br>
                                   <h5> COCONUT LAVENDER LEMONADE<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\mocktail3.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> CHERRY BOMB MOCKTAIL<h5><br> 
                                   <h5> GINGER LIME FIZZ <h5><br>
                                   <h5> VIRGIN MOSCOW MULE<h5><br>
                                    <h5> COCONUT LAVENDER LEMONADE<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div>  
                <br>
                <br><br><br> 
                <!--second row end here-->
        
                <!--third row start-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> STARTERS</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\starter1.jpg" class="card-img-top" alt="..."height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> CORN CURD MANGOLIAN<h5><br> 
                                   <h5> PANEER CHILLY <h5><br>
                                   <h5> HARABHARA KABAB<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\starter2.jpg" class="card-img-top" alt="..."height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> STUFFED COURGETTE ROLLS<h5><br> 
                                   <h5>BURRATA BRUSHCHETTA <h5><br>
                                   <h5> HONEY CHILLY POTATO<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\starter3.jpg" class="card-img-top" alt="..."height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5>BROCCOLI & POTATO CROQUETTER</h5>
                                   <h5> RIMJIM<h5><br> 
                                   <h5> CHEESE CHERRY PINEAPPLE <h5><br>
                                   <h5> CHEESE CORN BALL<h5></p>
                                    
                                
                              </div>
                            
                        </div>
                    </div>
                </div>    
        
                <!--third row end-->
        
                <br>
                <br><br><br>
                <!--forth row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> SOUP</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\soup1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                     <h5> HEALTHY SOUP<h5><br> 
                                   <h5> CREAM OF ALMOND SOUP<h5><br>
                                   <h5> CREAM OF TOMATO SOUP<h5><br> 
                                   <h5> MANCHOW SOUP <h5><br>
                                   <h5> KHOE SUEY SOUP<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\soup2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> CREAM OF BROCOOLI SOUP<h5><br> 
                                    <h5> MINESTRONE SOUP<h5><br>
                                    <h5> HOT &SOUR SOUP<h5><br> 
                                    <h5> TOM YUM KAI SOUP <h5><br>
                                    <h5> LEMON CORIANDER SOUP<h5></p>
 
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\soup3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> CREAM OF SPINACH SOUP<h5><br> 
                                   <h5> BLACK BEAN SOUP<h5><br> 
                                   <h5> VEGETABLE SOUP WITH PISTOU<h5><br>
                                   <h5> CURRIED CORN AND CHEESE SOUP<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>  
                <!--forth row end here-->
                <div>
                <h1><img src="\static\images\Menu\food-menu-icon.png"> SWEET</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem ;">
                            <div class="container6">
                                <img src="\static\images\Menu\sweet1.jpg" class="card-img-top" alt="..."  height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> SHAHI JODHPURI HALWA<h5><br> 
                                    <h5>SANTRA RAJBHOG  <h5><br>
                                   <h5> RABADI WITH FLAVOR<h5><br> 
                                   <h5>ANJEER AKHROTH HALWA <h5><br>
                                   <h5> BADAM HALWA<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;" >
                            <div class="container6">
                                <img src="\static\images\Menu\sweet2.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5>  MALAI SANDWICH<h5><br> 
                                   <h5> VATI GHEVAR <h5><br>
                                    <h5>  RABDI MALPUA<h5><br> 
                                    <h5> KALA JAMUN <h5><br>
                                   <h5> BALUSHAHI<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\sweet3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> SHREEKHAN<h5><br> 
                                    <h5> RAS MALAI <h5><br>
                                   <h5> MOHAN THAL<h5><br> 
                                   <h5> MAYSORE PAAK <h5><br>
                                   <h5> AAMRAS <h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div>
                <br>
                <br><br><br>  
        
                <!--fifth row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> SABJI</h1>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\sabji1.jpg" class="card-img-top" alt="..."height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Mix vegetable<h5><br> 
                                    <h5> Veg. jaipuri <h5><br>
                                    <h5> Veg.amirtsari<h5><br> 
                                    <h5> Veg. hydrabadi<h5><br>
                                    <h5> Veg kolhapuri<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 24rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\sabji2.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Tava bhaji<h5><br> 
                                   <h5> Shimla baby corn chilly <h5><br>
                                    <h5> Malai Kofta Curry<h5><br> 
                                    <h5> Shimla baby corn chilly <h5><br>
                                   <h5> Palak Paneer<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\sabji3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Paneer Tikka Masala<h5><br> 
                                   <h5> Paneer 65 <h5><br>
                                    <h5> Mutter Paneer<h5><br> 
                                    <h5> Paneer Bhurji <h5><br>
                                   <h5> Paneer Pasanda<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>   
        
                <!--fifth row end here-->
                
                <!--sixth row start-->
                <div>

                    <h1><img src="\static\images\Menu\food-menu-icon.png"> SNACKS/NAMKEEN</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\snack1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> Mini Samosa<h5><br> 
                                   <h5> Mini Moong Dal Kachori <h5><br>
                                    <h5>Spring Roll<h5><br> 
                                    <h5> Chinese Roll <h5><br>
                                   <h5> Punjabi Pati Samosa<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\snack2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Surli Vadi<h5><br> 
                                    <h5> Corn Pattice <h5><br>
                                   <h5> Khamang Dhokla<h5><br> 
                                   <h5> Kanda Palak Bhaji <h5><br>
                                   <h5> Kothambir Vadi<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                <img src="\static\images\Menu\snack3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Navratan Farsaan<h5><br> 
                                   <h5>Dahi Vada <h5><br>
                                    <h5> Jodhpuri Mirchi Vada<h5><br> 
                                    <h5> Moong Dal Bhajiya <h5><br>
                                   <h5>Kadi Kachori<h5></p>

                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>  
        
                <!--sixth row end here-->
        
                <!--seventh row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> INDIAN BREAD</h1>
                </div>
                <div class="row">
                   
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\bread1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                               
                                   <h5> Fulka<h5><br> 
                                    <h5> Javari Bhakri<h5><br> 
                                   <h5> Chapatti <h5><br>
                                   <h5> Bajari Bhakri<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\bread2.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Tandori Roti<h5><br> 
                                   <h5> Tava Paratha<h5><br> 
                                   <h5> Triangle Paratha <h5><br>
                                   <h5>Rumali Roti<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\bread3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Mix Vegetable Paratha<h5><br> 
                                   <h5> Palak Puri<h5><br>
                                    <h5> Gobi Paratha<h5><br>
                                   <h5>Sadi Puri<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
                <!--seventh row end here-->

                <!--eight row start here-->
                <div>

                    <h1><img src="\static\images\Menu\food-menu-icon.png"> RICE</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\rice1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> Plain Rice<h5><br> 
                                   <h5> Jeera Rice <h5><br>
                                    <h5> Mutter Kaju Rice <h5><br>
                                   <h5> Lemon Rice<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\rice2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    
                                   <h5> Mushroom Paneer Rice<h5><br> 
                                   <h5> Jodhpur Khichadi <h5><br>
                                    <h5> Veg. Biryani <h5><br>
                                   <h5> Veg. Hedrabadi Pulav<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                <img src="\static\images\Menu\rice3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Tava Pulav<h5><br> 
                                   <h5> Masala Rice <h5><br>
                                </p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br> 
        
                <!--eight row end here-->
                
                <!--nine row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> SALAD</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\salad1.png" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5>  Green Salad<h5><br> 
                                        <h5> Russian Salad <h5><br>
                                         <h5>  Grilled Caeser Salad<h5><br> 
                                         <h5> Crudo Vegetable <h5><br>
                                        <h5> Water Melon Salad<h5></p> 
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\salad2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    








                                   <h5> Turmeric Roasted Cauliflower Salad<h5><br> 
                                   <h5> Sproud Salad <h5><br>
                                    <h5> Roasted Chestnut And Beetroot Salad Antipasti Salad <h5><br>
                                   <h5> Boondi Raita<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                   
                </div> 
                <br>
                <br><br><br>  
        
                <!--nine row end here-->

                <!--ten row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> PICKEL</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\pickle1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Mango Pickle<h5><br> 
                                   <h5> Lemon Pickle <h5><br>
                                    <h5> Green Chilli Pickle <h5><br>
                                   <h5> Mango Lemon Mix Pickle<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\pickle2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Amla Pickle<h5><br> 
                                   <h5> Rajasthani Ker Pickle <h5><br>
                                   <h5> Stuffed Green Mirch Pickle<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    
                </div> 
                <br>
                <br><br><br> 
        
                <!--ten row end here-->

                <!--eleven row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> CHATNEY</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\chatney1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> Green Chatney<h5><br> 
                                    <h5> Tomato Laungi<h5><br>
                                   <h5> Navratan Chatney <h5><br>
                                   <h5> Aam Ki Laungi<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\chatney2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Maithi Ki Laungi<h5><br> 
                                    <h5> Mango Coconut Chatney <h5><br>
                                    <h5> Red Mirchi Thecha<h5><br> 
                                   <h5> Coconut Chatney<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                <img src="\static\images\Menu\chatney3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Green Chatney<h5><br> 
                                        <h5> Tomato Laungi<h5><br>
                                       <h5> Navratan Chatney <h5><br>
                                       <h5> Aam Ki Laungi<h5></p>
                                    
                                
                              </div>
                            
                        </div>
                    </div>
                    
                </div> 
                <br>
                <br><br><br>
        
                <!--eleven row end here-->

                <!--twelve row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> MAHARASHTRIAN</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\maharastra1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Jawari Bhakari<h5><br> 
                                   <h5> Bajari Bhakri <h5><br>
                                   <h5> Lonin Ghee Gud <h5><br>
                                   <h5> Chapatti<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\maharastra2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    






                                   <h5> Pithala<h5><br> 
                                   <h5> Vangi Masala <h5><br>
                                    <h5> Batata Vada <h5><br>
                                   <h5> Dum Kanda Sabji<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                 <img src="\static\images\Menu\maharastra3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    


                                   <h5> Surli Vadi<h5><br> 
                                   <h5> Kanda Bhaji <h5><br>
                                   <h5> Puneri Misal <h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
        
                <!--twelve row end here-->

                <!--thirteen row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> RAJASTHANI</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\rajasthani1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                 <h5> Bajari Khichdi<h5><br> 
                                   <h5> Moongdal Khichadi <h5><br>
                                    <h5> Ker Sangria <h5><br>
                                   <h5> Ram Khichadi<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\rajasthani2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                  <h5> Mohanthal<h5><br> 
                                   <h5> Haldi Ki Sabji <h5><br>
                                    <h5> Papad Ki Sabji <h5><br>
                                   <h5> Veg.Jaipuri<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                 <img src="\static\images\Menu\rajasthani3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Gajar Mutter Ki Sabji<h5><br> 
                                   <h5> Aalu Mutter <h5><br>
                                   <h5> Jodhpuri Kadi<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
        
                <!--therteen row end here-->

                <!--forteen row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> SOUTH INDIAN</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\south1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    





                                   <h5> Plain masala davangiri Dosa<h5><br> 
                                   <h5> Kanda veg.masala Uttapa <h5><br>
                                   <h5> Idli-Medu vada<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\south2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Tate Idli Uppam<h5><br> 
                                   <h5> Rasam Vada <h5><br>
                                   <h5> South Chatani<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                              <img src="\static\images\Menu\south3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h5> Plain masala davangiri Dosa<h5><br> 
                                        <h5> Kanda veg.masala Uttapa <h5><br>
                                        <h5> Idli-Medu vada<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
        
                <!--fourteen row end here-->

                <!--fitteen row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> CHINESE</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\chinese1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                 <h5> Dry Gravy Manchurian<h5><br> 
                                   <h5> Hakka Nuddles <h5><br>
                                   <h5> Masala Noodle<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\chinese2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    




                                   <h5> Seizwan Rice<h5><br> 
                                   <h5> Shangai Rice <h5><br>
                                   <h5> Spring Roll Fried Rice<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                <img src="\static\images\Menu\chinese3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> FRUITS PUNCH<h5><br> 
                                   <h5> COCONUT PUNCH <h5><br>
                                   <h5> PINEAPPLE JUICE<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
        
                <!--fifteen row end here-->

                <!--sixteen row start here-->
                <div>
                <h1><img src="\static\images\Menu\food-menu-icon.png"> ITALIAN</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\italian1.png" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> Pasta<h5><br> 
                                   </p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\italian2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   <h5> Pasta Pizza<h5><br> 
                                  </p>
                                
                              </div>
                            
                        </div>
                    </div>
                   
                </div> 
                <br>
                <br><br><br> 
        
                <!--sixteen row end here-->

                <!--seventeen row start here-->
                <div>
                <h1><img src="\static\images\Menu\food-menu-icon.png"> FRUITS</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                            <img src="\static\images\Menu\fruit1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text"> 
                                   <h5> Kiwi<h5><br> 
                                   <h5> Orange <h5><br>
                                    <h5> Grapes <h5><br>
                                   <h5>Strawberry<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                            <img src="\static\images\Menu\fruit2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    





                                   <h5> Mango </h5><br>
                                   <h5> Apple<h5><br> 
                                   <h5> Pineapple <h5><br>
                                   <h5> Chikku<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                   
                </div> 
                <br>
                <br><br><br>
        
                <!--seventeen row end here-->

                <!--eighteen row start here-->
                <div>
                <h1><img src="\static\images\Menu\food-menu-icon.png"> ICE-CREAM</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                 <img src="\static\images\Menu\ice1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    




                                   <h5> Vanilla Rajbhog<h5><br> 
                                   <h5> Butter Scotch <h5><br>
                                   <h5> American Dryfruits<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\ice2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                   





                                   <h5>  Mix Fruits<h5><br> 
                                   <h5> Sitafal <h5><br>
                                   <h5> Mango<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem; ">
                            <div class="container6">
                                <img src="\static\images\Menu\ice3.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    




                                   <h5> Strawberry<h5><br> 
                                   <h5> Kulfi <h5><br>
                                   <h5> Faluda Kulfi<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                </div> 
                <br>
                <br><br><br>
        
                <!--eigtheen row end here-->

                <!--ninteen row start here-->
                <div>
                    <h1><img src="\static\images\Menu\food-menu-icon.png"> PAAN-COUNTER</h1>     
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\paan1.jpg" class="card-img-top" alt="..." height="265px">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    




                                   <h5> Masala Paan<h5><br> 
                                   <h5> Mitha Paan <h5><br>
                                   <h5> Mitha Paan<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 25rem;">
                            <div class="container6">
                                <img src="\static\images\Menu\paan2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    





                                   <h5> Chocolate Paan<h5><br> 
                                   <h5> Fire Paan <h5><br>
                                   <h5> Strawberry Paan<h5></p>
                                
                              </div>
                            
                        </div>
                    </div>
                    
                </div> 
                <br>
                <br><br><br>
        
                <!--nineteen row end here-->

                
        
                <!--twenty-two row end here-->
        
        
            
            <div>
            </body>
        </section>
        </html>
            
        
        
        
        
        
        
        
        
          
        
                
                
                             
         
        
        <!--<div class="container ">
        
        <center><h1> Our Video Gallery </h1></center>
        <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6 videosrc" >
                <br>   
                   <iframe width="100%" height="350px" src="https://www.youtube.com/embed/dCt7OTS6CQw"  frameborder="0" allow="autoplay" allowfullscreen ></iframe>
                </div>
                
                   <div class="col-sm-12 col-xs-12 col-md-6">     
                    <br>   
                    <iframe width="100%" height="350px" src="https://www.youtube.com/embed/6jYiz8PhWh8" frameborder="0" allow=" autoplay" allowfullscreen></iframe>           
                </div>
                
                 <div class="col-sm-12 col-xs-12 col-md-6">  
                    <br>   
                   <iframe width="100%" height="350px" src="jc/jodhpur-video.mp4" frameborder="0"  allowfullscreen ></iframe>           
                </div>
            
        </div>	
        </div>-->
        
              
              



        <!---from gallary end-->
    </boby>

    




{% include 'user/footer.html' %}
</html>