{% load static %}
<html>

    <head>


        
            <link rel="stylesheet" href="style.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
            <!--<h1 style="font-family:'Apple Chancery, cursive">Terms & Conditions</h1>-->
            {% include 'user/header.html' %}
        
        </head>
    </head>
    <body class="bodyaboutus">
        


        <!--new add here-->
        <section class="main-content" id="aboutus1">
            <!--<h1 align="center" style = "font-size: 50px">ABOUT US</h1>-->
            <h1 style="font-family:'Apple Chancery, cursive" align="center" style = "font-size: 50px" >PLATINUM PACKAGE</h1>
            <div class="containeraboutus ">
                
                <div>
                    <p>
                        <section class="main-content">
                                <div class="container ">
                                    <h1 style="text-align: center" >400 ₹/plate</h1>
                                    <br><br><br>
                                   <!--  <center><h1> Gold Package</h1></center>--> 
                                    <div class="row">
                                        <div class="col-sm-6" id="balaji">
                                            <div  style="width: 25rem;">
                                                <h3>COLD BEVERAGES</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- Mocktail Counter 4 Variety<h6><br> 
                                                    <h6>- Fresh Juice 2 Types<h6><br>
                                                </p>
                                                        
                                            </div>

                                            
                                            <div  style="width: 25rem;">
                                                <h3>HOT BEVERAGES</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- Expresso coffee<h6><br> 
                                                    <h6>- Tea<h6><br>
                                                    <h6>- Soup 2 Types (Green Mint, Khousue Soup)<h6><br> 
                                                        

                                                        
                                                        
                                                        
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>MOVING APPETIZER</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- 5 Types of Starter (Two Barbecue, Three Regular)<h6><br> 
                                                    
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>SALAD</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- 4 Variety of Salad (2 Indian + 2 Italian), Green Salad<h6><br> 
                                                    
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>SWEET</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- 6 Types of Sweet (Bangali, Mava, Milk, Dryfruits, Sugarfree, Fency)<h6><br> 
                                                    
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>MAHARASHTRIAN STALL</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- Vangi Masala, Bhakri, Gud, Ghee, Lassun Chutney<h6><br> 
                                                    <h6>- Pithala, Kanda Besan, etc (choice of client)<h6><br>
                                                        


                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>RAJASTHANI STALL</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- Pachkuta, Rabdi, Bajari Khichado, Bhakri Mirchi ka<h6><br> 
                                                    <h6>- Thecha, (choice of client)<h6><br>
                                                        

                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>SOUTH INDIAN STALL</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- Dosa , Uttapa, Rasam vada, Tate idli, Uppam<h6><br> 
                                                   
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>SUBJI</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- 5 Types Vegetables(Two Greavy, Semi Dry, Dry, Tava Bhaji)<h6><br> 
                                                   
                                                </p>
                                                        
                                            </div>

                                            <div  style="width: 25rem;">
                                                <h3>FARSAAN/NAMKEEN</h3><br><br>
                                                <p class="card-text" id="silverpackagepara">    
                                                    <h6>- 3 Farsaan one Namkeen<h6><br> 
                                                   
                                                </p>
                                                        
                                            </div>



                                        </div>

                                        <div class="col-sm-6">
                                            <div class="col-sm-6" id="balaji">
                                                <div  style="width: 25rem;">
                                                    <h3>RICE</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - 2 Types<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>DAL</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - 3 Types Live Preparation<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>ROTI</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Tandoori, Naan, Lacha Paratha, Rumali, Fulka, Masala<h6><br>
                                                        <h6> - Puri (4 Types of Roti) <h6><br>
                                                            

                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>ACCOMPANIMENT</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Pickle, Lemon, Salt, Chutney<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>CONTINENTAL</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Italian 3 Types<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>PUNJABI</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - 5 Types (Makee ki roti, Sarso da saag, Rajma masala,
                                                            Butter paneer masala, Lassi)<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>DESSERT</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Three types of pastry ,pan cake<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>CHAT</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Pani puri, Bhel, Papdi Chat<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>FRUITS</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - 6 Types (3 Indian, 3 Imported)<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>ICE-CREAM </h3><br><br>
                                                    <p class="card-text">
                                                        <h6> -2 Types<h6><br> 
                                                    </p>
                                                    
                                                </div>

                                                <div  style="width: 25rem;">
                                                    <h3>PAN COUNTER</h3><br><br>
                                                    <p class="card-text">
                                                        <h6> - Paan and Mukhwas<h6><br> 
                                                    </p>
                                                    
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                        <br><br>
                        <br>
            
            
            
                    </p>
                </div>
            </div>
                
        </section>
        
        
        
        
        
        
        
        
        



    
        <!--new add end here-->









    </body>
{% include 'user/footer.html' %}
</html>